.vs
.vscode
externals/glfw
externals/glm
externals/spdlog
externals/gtest
engine_java_interface/test/.idea
engine_java_interface/test/bin
engine_java_interface/test/logs
engine_java_interface/test/*.log
engine_java_interface/test/out