.vs
externals/glad
externals/glfw
externals/glm
externals/spdlog
engine_java_interface/test/.idea
engine_java_interface/test/bin
engine_java_interface/test/logs
engine_java_interface/test/*.log
engine_java_interface/test/out